
body {
    background: #ffffff;
    font-family: '微软雅黑', Arial;
    font-weight: 400;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 16px;
}

h1, h2, h3 {
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    color: #ffffff;
    padding-bottom: 10px;
}

h3 {
    font-size: 1rem;
    line-height: 2rem;
}

p {
    color: #828282;
    letter-spacing: 0.8px;
    line-height: 28px;
}

ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

i {
    font-style: normal;
}

.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

strong {
    color: #f1c11a;
    font-weight: 700;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    padding:8px 0;}

#about,
#feature,
#contact {
    background: #ffffff;
}

#about,
#feature,
#contact,
footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title {
    padding-bottom: 62px;
}

.section-title h1 {
    padding-bottom: 10px;
}

#about .section-title {
    padding-bottom: 7px;
}

#contact .section-title {
    text-align: center;
}

.f16 {
    font-size: 16px !important;
}

#about {
    padding-bottom: 125px;
}

/* preloader section  */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.sk-circle {
    margin: 40px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

#slideshow {
    top: 0;
    left: 0;
    z-index: -10;
    width: 100vw;
    backface-visibility: hidden;
}

/* home section */
#home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #ffffff;
}

#home .home-thumb {
    text-align: center;
}

#home .btn {
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 42px;
    margin-right: 16px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#home .btn:hover {
    background: #43b9eb;
    color: #ffffff;
    border-color: transparent;
}

#home .btn-success {
    background: #ffffff;
    color: #242424;
    border-color: transparent;
}

/* about section */
#about h3 {
    margin-top: 0;
}

#about .about-thumb {
    padding-top: 70px;
}

/* feature section */
#feature {
    background: #43b9eb;
    padding-top: 65px;
    padding-bottom: 80px;
}

#feature .icon {
    color: #ffffff;
    font-size: 42px;
    padding-right: 14px;
}

#feature p {
    color: #ffffff;
}

#feature .btn {
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 25px;
    margin-right: 16px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#feature .btn:hover {
    background: #ffffff;
    color: #333;
    border-color: transparent;
}

/* contact section  */
#contact .form-control {
    background: transparent;
    border: 1px solid #f0f0f0;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    margin-bottom: 16px;
    transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
    border-color: #999;
}

#contact input {
    height: 55px;
}

#contact input[type='submit'] {
    background: #242424;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all 0.4s ease-in-out;
    margin-top: 10px;
}

#contact input[type='submit']:hover {
    background: #43b9eb;
}

/* footer section  */
footer {
    /*background: #111112;*/
}

footer .copyright-text {
    padding-top: 10px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #FF6;
}

/* svg */
.svgcolor-light {
    /*position: absolute;
    top: 0;
    left: 0; */
    position: relative;
    bottom: 104px;
}

.svgcolor-light > path {
    fill: white;
    stroke: white;
    stroke-width: 0;
}

/* modal */
.modal-dialog .modal-content {
    background: url('../images/modal-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 0;
    text-align: center;
    padding: 100px 50px 100px 50px;
    position: relative;
}

.btn:focus {
    outline: none;
}

.modal-header {
    border-bottom: 0;
}

.modal-dialog .close {
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    top: 40px;
    right: 40px;
    border: 2px solid #ffffff;
    border-radius: 100px;
    width: 36px;
    height: 36px;
    line-height: 30px;
    text-align: center;
}

.modal-dialog .close:focus {
    outline: none;
}

.modal-dialog form {
    padding: 20px;
}

.modal-dialog form input {
    height: 55px;
}

.modal-dialog form .form-control {
    background: transparent;
    border: 1px solid #f0f0f0;
    border-radius: 0;
    box-shadow: none;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
}

.modal-dialog form input[type="submit"] {
    background: #ffffff;
    color: #242424;
    text-transform: uppercase;
    margin-top: 30px;
}

.modal-dialog form input[type="submit"]:hover {
    background: #43b9eb;
    border-color: transparent;
    color: #ffffff;
}

/* Back top */
.go-top {
    background-color: #eee;
    bottom: 2em;
    right: 2em;
    color: #111112;
    font-size: 22px;
    display: none;
    position: fixed;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #43b9eb;
    color: #ffffff;
}

/* social icon section  */
.social-icon {
    padding: 0;
    margin: 0;
}

.social-icon li {
    list-style: none;
    display: inline-block;
}

.social-icon li a {
    border-radius: 100px;
    color: #626262;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin-top: 12px;
    margin-right: 10px;
}

.social-icon li a:hover {
    background-color: #ffffff;
    color: #111112;
}

.bt2 {
    display: none;
}

#header-nav-m {
    display: none;
}
#home > .container{
    width:100%;
}
table{
    table-layout:fixed;}

@media (max-width: 1200px) {
    .bt1 {
        display: none;
    }

    .bt2 {
        display: block;
        line-height: 2.5rem;
    }
}

/* Mobile Responsive */
@media (max-width: 980px) {

    h1 {
        font-size: 1.8rem;
    }

    #home {
        height: 65vh;
    }

    #about .section-title {
        padding-bottom: 12px;
    }

    #feature .col-md-4 {
        padding-bottom: 32px;
    }

    .pt6rem {
        padding-top: 1rem !important;
    }

    #header-nav-m {
        display: block;
    }

    #header-nav {
        display: none;
    }

    #jjjs-main-content .container {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .bt2 {
        line-height: 1.5rem;
    }
    .t2-item2>.container #show-pic-ul li {
        width: 33.33%;
        margin-bottom:10px;
    }
}

@media (max-width: 700px) {

    #home {
        height: 100vh;
    }

    .modal-dialog .modal-content {
        padding: 50px 20px;
    }

    footer {
        text-align: center;
    }

    footer .col-sm-6 {
        padding-bottom: 32px;
    }

    .modal-dialog .close {
        font-size: 24px;
        width: 25px;
        height: 25px;
        line-height: 18px;
    }

}

.c-blue {
    color: #39c4ff;
}

.c-red {
    color: #09a4e6;
}

.c-error {
    color: #ffcb03;
}

.logo-img {
    max-width: 100%;
}

.logo-text {
    padding-left: 15px;
}

.code-img {
    width: 140px;
    margin-bottom: 1rem;
}

.pt6rem {
    padding-top: 7rem;
}

.col-info {
    list-style: none;
    text-align: left;
    padding: 0;
    display: inline-block;
}

.col-info li {
    color: #828282;
    letter-spacing: 0.8px;
    line-height: 28px;
    margin: 0 0 10px;
}

.menu-name-one {
    display: none;
}

.contact-select {
    height: 55px;
    color: #999;
}

#feature .fa {
    font-size: 2.5rem;
    color: #ffffff;
}

#feature .media-left {
    width: 56px;
    display: inline-block;
    float: left;
}

.header-box {
    background: url("../images/headbg.jpg") no-repeat 100% top;
    height: 90px;
    overflow: hidden;
}

.header-box-content {
    width: 1200px;
    margin: 0 auto;
}

.header-box .nav-main {
    list-style: none;
    height: 90px;
    line-height: 90px;
    font-size: 20px;
    color: #fff;
    margin: 0;
    padding-left: 25px;
}

.header-box .nav-main li {
    float: left;
    margin-right: 30px;
}

.header-box .nav-main li a {
    color: #ffffff;
    text-decoration: none !important;
}

.sprbg {
    background: url("../images/spr.png") no-repeat;
    display: inline-block;
}

.group1 {
    width: 32px;
    height: 32px;
    vertical-align: -8px;
    margin-right: 5px;
}

.g1-1 {
    background-position: -9px -8px;
}

.g1-2 {
    background-position: -9px -44px;
}

.g1-3 {
    background-position: -9px -82px;
}

.group2 {
    width: 107px;
    height: 106px;
}

.g2-1 {
    background-position: -62px -8px;
}

.g2-2 {
    background-position: -184px -8px;
}

.g2-3 {
    background-position: -308px -8px;
}

.g2-4 {
    background-position: -62px -127px;
}

.g2-5 {
    background-position: -184px -133px;
}

.g2-6 {
    background-position: -308px -133px;
}

.g2-7 {
    background-position: -61px -249px;
}

.g3-1 {
    background-position: -14px -133px;
    width: 21px;
    height: 20px;
}

.g3-2 {
    background-position: -17px -161px;
    width: 15px;
    height: 19px;
}

.g3-3 {
    background-position: -17px -190px;
    width: 16px;
    height: 20px;
}

.user-left img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-info {
    height: 90px;
    line-height: 90px;
}

.user-right {
    height: 90px;
    margin-left: 15px;
}

.user-right p {
    margin: 0;
    color: #ffffff;
}

.user-name {
    margin-top: 1.2rem !important;
}

.user-place {
    color: #5bc3ff !important;
    border: 1px solid #5bc3ff;
    text-align: center;
    font-size: 0.6rem;
    line-height: 1.3rem;
}

#alert-box {
    background: #ebebeb;
}

.alert-body {
    margin: 0.8rem auto;
    display: inline-block;
    vertical-align: middle;
    color: #333;
}

.menu-sort {
    color: #ff8400;
}

.menu-glass {
    list-style: none;
    margin-top: 5px;
    margin-left: -40px;
}

.menu-glass li {
    float: left;
    padding: 0 10px;
    margin-top: 5px;
}

.menu-glass li .sprbg {
    margin-right: 5px;
    vertical-align: -5px;
}

.menu-more {
    background: #e1e5e6;
    color: #333;
    line-height: 30px;
    width: 100%;
    display: inline-block;
    margin: 6px auto;
}

.menu-more:hover {
    text-decoration: none;
    background: #09a4e6;
    color: #fff;
}

.hope-color {
    color: #e8423d;
}

.add-more {
    border-radius: 10px;
    background: #e1e5e6;
    color: #ffffff;
    display: inline-block;
    width: 85px;
    height: 85px;
    font-size: 48px;
    line-height: 85px;
    margin-top: 60px;
    margin-bottom: 29px;
    cursor: pointer;
}

.add-more:hover {
    background: #ebebeb;
}

.menu-item {
    border: 1px solid #ebebeb;
    padding: 18px;
    overflow: hidden;
}

#main-content .container {
    padding: 100px 15px 200px;
}

#main-content .container .row .menu-item:not(:last-child) {
    border-right: none;
}

#main-content .container .row .menu-item:nth-child(4) {
    border-right: 1px solid #ebebeb;;
}

.menu-img {
    margin: 20px auto;
}

.menu-img img {

}

.menu-name, .menu-sort {
    margin-bottom: 0 !important;
}

.menu-more-btn {
    padding-bottom: 44px;
}

.menu-more-btn p {
    margin-bottom: 0;
}

@media (max-width: 1190px) {
    #main-content .container .row .menu-item:nth-child(3),
    #main-content .container .row .menu-item:nth-child(6) {
        border-right: 1px solid #ebebeb;
    }

    #main-content .container .row .menu-item:nth-child(4) {
        border-top: none;
    }

    #main-content .container .row .menu-item:nth-child(5) {
        border-bottom: none;
    }

    .menu-more-btn {
        padding-bottom: 69px;
    }

    .menu-glass li:nth-child(3) .sprbg {
        margin-right: 7px;
        margin-left: 3px;
    }
}

@media (min-width: 991px) and (max-width: 1190px ) {
    #main-content .container .row .menu-item:nth-child(3),
    #main-content .container .row .menu-item:nth-child(6) {
        border-right: none;
    }

    #main-content .container .row .menu-item:nth-child(4) {
        border-right: 1px solid #ebebeb;
    }

    #main-content .container .row .menu-item:nth-child(5) {
        border-bottom: 1px solid #ebebeb;
    }
}

@media (min-width: 1190px) and (max-width: 1200px ) {
    .menu-more-btn {
        padding-bottom: 69px;
    }
}

@media (max-width: 970px) {
    #main-content .container .row .menu-item:nth-child(3),
    #main-content .container .row .menu-item:nth-child(6) {
        border-right: 1px solid #ebebeb;
    }

    #main-content .container .row .menu-item:nth-child(4) {
        border-top: none;
    }

    #main-content .container .row .menu-item:nth-child(5) {
        border-bottom: none;
    }

    .menu-more-btn {
        padding-bottom: 69px;
    }
}

@media (max-width: 750px) {
    #main-content .container .row .menu-item:nth-child(1),
    #main-content .container .row .menu-item:nth-child(4),
    #main-content .container .row .menu-item:nth-child(7) {
        border-left: none;
    }

    #main-content .container .row .menu-item:nth-child(3),
    #main-content .container .row .menu-item:nth-child(6) {
        border-right: none;
    }
}

@media (max-width: 650px) {
    .menu-sort, .menu-glass, .menu-more, .menu-more-btn p {
        display: none;
    }

    .add-more {
        margin-top: 40px;
        margin-bottom: -10px
    }

    .menu-more-btn {
        padding-bottom: 77px;
    }
}

@media (max-width: 500px) {
    .menu-img {
        margin: 6px auto;
    }

    .menu-img img {
        width: 60px;
    }

    .menu-more-btn {
        padding-bottom: 48px;
    }

    .add-more {
        margin-top: 20px;
        margin-bottom: -10px;
        width: 60px;
        height: 60px;
        font-size: 36px;
        line-height: 60px;
    }

    .group1 {
        position: relative;
        left: 0;
        margin-left: -13px;
    }

    #jzfpImg, #smallImg {
        height: 59px;
    }

}

.m-head-nav {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

.m-head-menu {
    color: #bbb !important;
    cursor: pointer;
}

.m-user-head img {
    margin: 1rem auto;
}

.m-user-head p {
    margin-bottom: 0;
    color: #fff;
}

#header-nav-m {
    background: url("../images/m-head-bg.jpg") no-repeat 100% top;
}

.m-user-head p:last-child {
    padding-bottom: 1rem;
}

.m-user-name {
    font-size: 1.1rem;
}

#infopage {
    position: relative;
}

.mobile-menu-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.21);
    z-index: 2;
    display: none;
}

.mobile-menu-box {
    background: #080120;
    width: 50%;
    /* height: 40%; */
    border-right: 1px solid #080120;
    box-shadow: 0 15px 15px rgba(8, 1, 32, 0.74);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 3;
    transition: top 0.8s ease;
}

.mobile-menu-list {
    list-style: none;
    padding: 2rem 2rem 1.5rem 2rem;

}

.mobile-menu-list li {
    margin-bottom: 1.2rem;
    font-size: 1rem;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}

.mobile-menu-list li a {
    color: #fff;
}

.mobile-menu-list li a img {
    width: 22px;
    vertical-align: -6px;
    margin-right: 10px;
}

.info-header-title h3 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.info-header-title h3 img {
    width: 60px;
    margin-right: 10px;
}

#info-content {
    margin-bottom: 4rem;
}

#info-content .info-items:nth-child(even) {
    background: #f6f7fb;
}

.info-items .row {
    /*height: 360px;*/
}

.chart-box {
    width: 100%;
    height: 100%;
}

.info-items .row h4 {
    position: relative;
    padding-left: 38px;
    margin: 20px auto;
}

.info-items .row h4:before {
    position: absolute;
    left: 20px;
    top: 0;
    content: '';
    width: 4px;
    height: 18px;
    background: #43b9eb;
}

.catch-href {
    color: #ff8400;
}

.tc {
    text-align: center;
}

.bg-green, .bg-red {
    padding: 0px 3px;
    border-radius: 3px;
    font-size: 12px;
}

.bg-green {
    background: #4ad962;
    color: #ffffff;
}

.bg-red {
    background: #e9352b;
    color: #ffffff;
}

#jjjs-main-content .panel-title a {
    text-decoration: none;
    font-size: 12px;
    color: #333333;
}

.panel-default > .panel-heading {
    background: #ffffff;
    border-color: #ffffff;
}

.panel-group .panel {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.panel {
    border-top: none;
}

.panel-group .panel + .panel {
    padding-top: 0;
}

.col-name {
    width: 170px;
    word-wrap: break-word;
    word-break: normal;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    line-height: 1rem;
}

#jjjs-main-content .panel-body {
    padding: 0;
}

#jjjs-main-content .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}

#jjjs-main-content .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}

#jjjs-main-content .panel-body .table {
    margin-bottom: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.mt20 {
    margin-top: 20px;
}

.jjjs-cw-info .no-container-pad .container {
    padding: 0;
}

.jjjs-cw-info .no-container-pad .container .table {
    border-left: none;
    border-right: none;
}

.jjjs-cw-info .no-container-pad .container .table td {
    vertical-align: middle;
    text-align: center;
}

.jjjs-cw-info .no-container-pad .container .table td .progress {
    height: 10px;
    margin-bottom: 0;
    background-color: #e4e4e4;
}

.f12 {
    font-size: 12px !important;
}

.pro-per {

}

.pa {
    position: absolute;
}

.pr {
    position: relative;
}

.jjjs-cw-info .row2 {
    /*min-height: 360px;*/
    height: auto;
}

.panel-collapse {
    background: rgba(0, 0, 0, 0.02);
}

.gdzctz-box {
    position: relative;
    list-style: none;
    margin-top: 75px;
}

.gdzctz-box span {
    float: left;
    width: 45%;
    text-align: center;
    padding: 20px 12px;
    border: 1px dashed #3ecdff;
    border-radius: 8px;
    font-size: 16px;
    background: rgba(111, 212, 233, 0.32);
}

.gdzctz-box span:first-child {
    margin-right: 10%;
}

#gdzctz-img {
    max-width: 100%;
    margin: 20px auto;
    display: inherit;
}

#gdzctz-sum {
    text-align: center;
}

#gdzctz-sum span {
    font-size: 16px;
    border: 1px solid #2f7fac;
    padding: 8px 20px;
    border-radius: 10px;
    background: rgba(111, 212, 233, 0.32);
}

#gdzctz-sum span b {
    font-size: 18px;
    border-bottom: 1px solid #333;
    padding: 0 10px;
}

.fwnl-xm-box {
    text-align: center;
    margin-bottom: 15px;
}

.fwnl-xm-box img {
    width: 80px;
    margin: 0.8rem auto;
    border-radius: 50%;
}

.fwnl-xm-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fwnl-xm-box ul li table {
    width: 100%;
}

.fwnl-xm-box ul li table thead tr {
    background: #e6e6e6;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
}

.fwnl-xm-box ul li table thead tr th:first-child {
    padding-left: 10px;
    white-space: nowrap;
    width: 80px;
}

.fwnl-xm-box ul li table thead tr th:last-child {
    padding-right: 5px;
}

.fwnl-xm-box ul li table tbody tr td:first-child {
    padding-left: 10px;
    text-align: left;
    width: 85px;
}

.fwnl-xm-box ul li table tbody tr td:last-child {
    text-align: left;
}

.fwnl-xm-box ul li table tbody tr td {
    height: 30px;
    vertical-align: top;
}

.hi5 {
    height: 5px !important;
}

.pr5 {
    padding-right: 10px;
    padding-top: 4px;
}

.fwnl-xm-box ul li table tr td .progress {
    height: 14px;
    margin-bottom: 0;
}

.fwnl-xm-box ul li table tr td .progress-bar {
    line-height: 12px;
    background-color: #17a238;
}

.fwnl-xm-box ul li table tr td span {
    color: #ff6000;
}

.fwnl-xm-box > .clearfix {
    width:95%;
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(204, 204, 204, 0.57)
}

@media (max-width: 383px ) {
    .fwnl-xm-box img {
        float: none;
    }

    .fwnl-xm-box ul {
        float: none;
        margin-top: 5px;
    }
}

@media (min-width: 992px) and (max-width: 1199px ) {
    .fwnl-xm-box img {
        float: none;
    }

    .fwnl-xm-box ul {
        float: none;
        margin-top: 5px;
    }
}

.mtb {
    margin-top: -15px;
    margin-bottom: 10px;
}

.catch-h4 {
    padding-left: 38px;
    margin: 20px auto;
    position: relative;
}

.catch-h4:before {
    position: absolute;
    left: 20px;
    top: 0;
    content: '';
    width: 4px;
    height: 18px;
    background: #43b9eb;
}

.no-container-pad .table .progress-bar {
    line-height: 10px;
    color: #333;
}

.this-on {
    background: #43b9eb !important;
}

/*惠民工程*/
/* progress */
.progress {
    position: relative;
    display: inline-block;
    width: 92%;
    font-size: 12px;
    background-color: transparent;
    box-shadow: none;
}

.progress .progress-outer {
    display: inline-block;
    width: 100%;
}

.progress .progress-inner {
    float: left;
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    border-radius: 100px;
    background-color: #05102f;
}

.progress .progress-bg {
    position: relative;
    margin: 1px;
    height: 10px;
    -webkit-transition: all .4s cubic-bezier(.08, .82, .17, 1) 0s;
    transition: all .4s cubic-bezier(.08, .82, .17, 1) 0s;
    border-radius: 100px;
    background-color: #3c9cff;
}

.progress .progress-text {
    float: left;
    display: inline-block;
    padding-left: 3px;
    text-align: left;
    vertical-align: middle;
    font-family: tahoma;
    font-size: 1em;
}

.progress .progress-bg:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    -webkit-animation: ant-progress-active 2s cubic-bezier(.23, 1, .32, 1) infinite;
    animation: ant-progress-active 2s cubic-bezier(.23, 1, .32, 1) infinite;
    opacity: 0;
    border-radius: 10px;
    background: #fff;
}

.progress-show-blue .progress-bg {
    background-color: #3ecdff;
}

.progress-show-blue .progress-inner {
    border: 1px solid #3ecdff;
    background-color: transparent;
}

.rank-list {
    margin-bottom: 30px;
}

.rank-list .rank-item:nth-child(1) .rank-num span,
.rank-list .rank-item:nth-child(2) .rank-num span,
.rank-list .rank-item:nth-child(3) .rank-num span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: #f45d5c;
}

@media (max-width: 479px) {
    .rank-list .rank-item:nth-child(1) .rank-num span,
    .rank-list .rank-item:nth-child(2) .rank-num span,
    .rank-list .rank-item:nth-child(3) .rank-num span {
        width: 18px;
        height: 20px;
        line-height: 20px;
    }
}

.rank-item .rank-num {
    float: left;
    width: 8%;
    text-align: center;
    line-height: 50px;
}

.rank-item .rank-body {
    float: right;
    width: 92%;
}

.rank-body .rank-tit {
    margin-bottom: 0;
    line-height: 25px;
    font-size: 14px;
}

.rank-body .rank-tit .rw {
    color: #f00;
    padding-left: 5px;
}

.rank-body .progress {
    margin-bottom: 0;
}

.nian-wei-ci {
    margin-right: 0.5rem;
    line-height: 1rem;
}

.plr1 {
    padding: 0 1rem;
}

.e-ul-box {
    width: 100%;
    /*  height: 100%; */
    padding: 0;
    margin: 0;
    list-style: none;
}

.e-ul-box li .chart-box {
    height: 320px;
    margin-top: 1rem;
}

.e-ul-box li a {
    color: #333;
}

.e-ul-box li {
    padding: 0.4rem 0.8rem;
    border-bottom: 1px solid #dededf;
}

.ca-sel {
    box-shadow: none;
    border-radius: 0;
    height: 24px;
    padding: 0px 2px;
    font-size: 0.6rem;
}

dt,
dd {
    white-space: nowrap;
}
dt{
    line-height: 27px;
}
dd{
    line-height: 26px;
}

.nav > li > a {
    padding: 1px 10px !important;
    border: 1px solid #dedede;
    color: #333;
    border-radius: 0;
    margin-right: 8px;
    font-size: 0.6rem;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #43b9eb;
    border-color: #43b9eb;
}

.tab-content .progress {
    height: 16px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.tab-pane .table,.tab-pane .table tr,.tab-pane .table td{
    border:none;
}

.tab-pane .table tr td:first-child{
    width: 20%;
    white-space: nowrap;
}
.tab-pane .table tr td:last-child{
    width: 80%;
}
.nav-pills>li{
    float: right;
}
.ca-minus{
    color: red;
}
.ca-ok{
    color: #00a864;
}
.ca-plus{
    color: mediumpurple;
}
.ca-jjzbwcqk .table th{
    white-space:nowrap;
    text-align: center;
}
.ca-jjzbwcqk .table td{
    text-align: center;
    vertical-align: middle;
}
.lineh20{
    line-height: 20px;
}
.ca-sel-month .form-control{
    border-radius: 0;
    padding: 0px 2px;
    height: 22px;
    line-height: 20px;
}
.lineh20 span{
    color: #00a864;
    font-weight: bold;
}
.tzsel{
    width: 30%;
    float: right;
    margin-right: 2rem;
    border-radius: 0;
    padding: 1px 5px;
    height: 24px;
    margin-bottom: 1rem;
}
.msgformbox .form-control{
    box-shadow: none;
    border-radius: 0;
    margin: 0 auto;
    width: 85%;
    padding: 1px 5px;
    font-size: 0.8rem;
    height: 28px;
}
#msginfos{
    height: 60px;
}
.msgformbox label{
    padding-left: 1rem;
}
.msgformbox .btn{
    width: 80%;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: none;
}
.msgformbox .btn-default{
    color: #fff;
    background-color: #43b9eb;
    border-color: #43b9eb;
}


.h-t-nav{
    margin-bottom: 1rem;
}
.h-t-nav ul li{
    float: left;
    width:25%;
    border: 1px solid #d9d9d9;
    border-left: none;
    border-top: none;
    text-align: center;
    height: 80px;
    position: relative;
}
.h-t-nav ul li.on:before{
    width:100%;
    height: 3px;
    background: #39a1ea;
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
}
.h-t-nav ul li:last-child{
    border-right:none;
}
.h-t-nav ul li img{
    margin-top: 12px;
    width: 30px;
}
.t2-main>div>h3{
    font-size: 1.2rem;
    padding: 0 0.8rem;
}
.t2-main>div>h3>img{
    width: 28px;
    vertical-align: -7PX;
    margin-right: 5px;
}
.t2-item1{
    border-bottom: 1px solid #d9d9d9;
}

.t2l-l{
    width: 10%;
    float: left;
    position: relative;
}
.t2l-l:before{
    content: '';
    position: absolute;
    left: 5px;
    top: 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #39a1ea;
    z-index: 3;
}
.t2l-l:after{
    content: '';
    position: absolute;
    left: 2px;
    top:0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #9fd7ff;
    z-index: 2;
}
.t2l-r{
    width: 90%;
    float: right;
}
.t2l-r>span{
    font-size: 1rem;
}
.t2l-r>div{
    background: #eef1f8;
    position: relative;
    padding: 8px;
    border-radius: 6px;
    margin-top: 1rem;
}
.t2l-r>div:before{
    position: absolute;
    left: 20px;
    top: -26px;
    content: '';
    width: 0;
    height: 0;
    border-width: 13px;
    border-style: solid;
    border-color: transparent transparent #eef1f8 transparent;
}
.t2l-r>div>span{
    width: 100%;
    display: block;
}
.t2l-r>div>span:first-child{
    font-size: 0.8rem;
    margin-bottom: 5px;
}
.t2l-r>div>span:last-child{
    font-size: 0.6rem;
    color: #605f5f;
}
.t2l-items{
    margin-bottom: 10px;
    position: relative;
}
.t2l-items:before{
    content: '';
    width: 4px;
    height: 110%;
    position: absolute;
    left: 10px;
    top: 0;
    background: #d5dde6;
    display: inline-block;
    z-index: 1;
}
.t2-item2{
    margin-bottom: 2rem;
}
.t2-item1 .container{
    margin-top: 1rem;
    margin-bottom: 1.4rem;
}
.t2-item2>.container ul li{
    width: 14.28%;
    float: left;
    padding: 3px;
    margin-bottom: 15px;
}
.t2-item2>.container ul li img{
    max-width: 100%;
    width: 108px;
    height: 108px;
}
.t2-main,.t3-main,.t4-main{
    display: none;
}
.kbg,.mbg{
    width: 130px;
    display: inline-block;
    padding-left: 5px;
}
.kday,.myuan{
    margin-left: 5px;
    width: 74px;
    display: inline-block;
    text-align: center;
}
.kbg{
    background: #FFFFFF;
    border: 2px solid #1cb5f6;
    color: #333333;
}
.kday{
    background: #1cb5f6;
    color: #FFFFFF;
}

.mbg{
    background: #FFFFFF;
    border: 2px solid #00d6b5;
    color: #333333;
}
.myuan{
    background: #00d6b5;
    color: #FFFFFF;
}
.t1-main .table .progress-bar{
    background-color: #ffae00;
    box-shadow: none;
    line-height: 10px;
    border-radius: 3px;
    font-size: 0.5rem;
    color: #333;
}
.t1-main .table .progress{
    margin-bottom: 0;
    height: 14px;
    border: 1px solid #ffae00;
    padding:1px;
}
.t1-main .table tr td:first-child{
    white-space: nowrap;
}
.t1-main .table tr td p{
    margin-bottom: 0;
    color: #333333;
}
.t1-main .table tr:first-child td{
    border-top: none;
}
.t1-main .table tr:last-child td{
    border-bottom:1px solid #ddd;;
}
.t3-main form{
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}
.t3-main textarea{
    height: 120px;
    margin-bottom: 0.8rem;
    border-radius: 0;
}
.t3-main button{
    background:#39a1ea;
    color: #ffffff;
    border: 1px solid #39a1ea;
    width: 100%;
    height: 33px;
    line-height: 30px;
    font-size: 16px;
}
#bigpic{
    /*width: 100%;*/
    /*height: 100%;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#bigPicBox{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index:9;
    display: none;
}
.showbigpic{
    width: 84%;
    height: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.6);
}
.showbigpic>.close{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 12px #ffffff;
    z-index: 101;
    opacity: 0.8!important;
}
.showbigpic>.close>span{
    position: relative;
    top: -2px;
    color: #ffffff;
}